$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$boxcolor0: #ff0; //yellow
$boxcolor1: #0f0; //green
$boxcolor2: #00b6ff;
$boxcolor3: #2700ff;
$boxcolor4: #00ffe4;
$gray: #00ffe4;
$boxcolor5: #ff6100;
$boxcolor6: #45222e;
$boxcolor7: #ffc100;
$boxcolor8: #c900ff;
$font-color: #4e4e4e;
$background-color: #000;

body {
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  width: 900px;
	}

.boxboard {
  border: 2px solid;
  border-bottom-color: $boxcolor0;
  margin: 2px;
  padding: 5px;
}

td {
  width: 33.333%;
}


.box0 {
  border: 2px solid;
  border-bottom-color: $boxcolor0;
  margin: 2px;
  padding: 5px;
}

.box1 {
  border: 2px solid;
  border-bottom-color: $boxcolor1;
  margin: 2px;
  padding: 5px;
}

.box2 {
  border: 2px solid;
  border-bottom-color: $boxcolor2;
  margin: 2px;
  padding: 5px;
}

.box3 {
  border: 2px solid;
  border-bottom-color: $boxcolor3;
  margin: 2px;
  padding: 5px;
}

.box4 {
  border: 2px solid;
  border-bottom-color: $boxcolor4;
  margin: 2px;
  padding: 5px;
}

.box5 {
  border: 2px solid;
  border-bottom-color: $boxcolor5;
  margin: 2px;
  padding: 5px;
}

.box6 {
  border: 2px solid;
  border-bottom-color: $boxcolor6;
  margin: 2px;
  padding: 5px;
}

.box7 {
  border: 2px solid;
  border-bottom-color: $boxcolor7;
  margin: 2px;
  padding: 5px;
}

.box8 {
  border: 2px solid;
  border-bottom-color: $boxcolor8;
  margin: 2px;
  padding: 5px;
}

nav {
  background: $gray;
  display: inline-block;
  font-size: 14px;
  padding: 2%;
  text-align: center;
  width: 96%;
}


//
// header {
// 	background: gray;
//   font-size: 14px;
//   display: inline-block;
//   padding: 2%;
//   text-align: center;
//   width: 96%;
// }
//
// main {
//   background: blue;
//   font-size: 12px;
//   width: 75%;
//   float: left;
//   margin: 1% auto;
//   padding: 1%;
// }

//
//
// .stretch {
//   width: 100px;
// }
//
// @media (min-width: 400px) {
//   .stretch {
//     width: 25%;
//   }
// }
//
// @media (min-width: 800px) {
//   .stretch {
//     width: 30%;
//   }
// }
