$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$boxcolor0: #ff0; //yellow
$boxcolor1: #0f0; //green
$boxcolor2: #00b6ff;
$boxcolor3: #2700ff;
$boxcolor4: #00ffe4;
$gray: #00ffe4;
$white: #fff;
$boxcolor5: #ff6100;
$boxcolor6: #45222e;
$boxcolor7: #ffc100;
$boxcolor8: #c900ff;
$font-color: #4e4e4e;
$background-color: #040404;
$backgroundimg: url('https://ak2.picdn.net/shutterstock/videos/8434522/thumb/1.jpg');

body {
  background-color: $background-color;
  font-size: 18px;
  margin: 0 auto;
  padding: 0;
  width: 1000px;
	}

header {
  text-align: center;
  }

.boxboard {
  border: 2px solid;
  border-bottom-color: $boxcolor0;
  height: 100%;
  margin: 1px;
  padding: 0;
}

td {
  width: 33.333%;
}

nav {
  background-image: url('https://ak2.picdn.net/shutterstock/videos/8434522/thumb/1.jpg');
  display: inline-block;
  font-size: 14px;
  padding: 2%;
  text-align: center;
  width: 95%;
}

h1 {
  color: $boxcolor2;
  font-weight: 10;
}

legend {
  color: $white;
  font-weight: 10;
}

nav1 {
  background: $gray;
  display: inline-block;
  font-size: 14px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 95%;
}

table {
  width: 95%;
}

//
// header {
// 	background: gray;
//   font-size: 14px;
//   display: inline-block;
//   padding: 2%;
//   text-align: center;
//   width: 96%;
// }
//
// main {
//   background: blue;
//   font-size: 12px;
//   width: 75%;
//   float: left;
//   margin: 1% auto;
//   padding: 1%;
// }

//
//
// .stretch {
//   width: 100px;
// }
//
// @media (min-width: 400px) {
//   .stretch {
//     width: 25%;
//   }
// }
//
// @media (min-width: 800px) {
//   .stretch {
//     width: 30%;
//   }
// }
